<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
          .body-design{
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
         
          background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      }
    </style>
</head>
<body class="body-design">
    <h1 style="color:rgb(211, 194, 194) ;text-align: center; margin-top: auto;margin-bottom: auto;"> Please try to login after 24 hrs from your last failed attempt !!</h1>


    <div style="margin-top: auto;"><h1 style="font: size 2px; font-weight:bolder;color:aliceblue">Made by Riya Pramanick</h1></div>
    
</body>
</html>